body {
  background: whitesmoke;
}

li {
  list-style: none;
}
/* .whitesmoke {
  background-color: whitesmoke;
  color: black;
}
body.black {
  color: white;
}
.black {
  background-color: black;
  color:#fff !important;
}
.black .text{
  color: white;
}
.black .play{
  color: white;
}
.black .navbar{
  color:white;
  z-index: +1 !important;
} */

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 1000px; */
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: black;
  margin-right: 100px;
}

.nav-link:hover {
  color: #a2c579;
}

.nav-logo img {
  height: 50px;
  width: 50px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 90vh;
  width: 100%;
}
.container-1 {
  margin: auto;
  margin-top: 50px;
  margin-left: 4rem;
  color: #5b8856;
  font-size: 3vw;
  /* align-items: center; */
  width: 50vw;
}
.container-1 h2 {
  text-align: center;
}

.container-2 {
  margin-left: auto;
  margin-top: 80px;
  margin-right: 50px;
}
.container-2 img {
  height: 60vh;
  width: 70%;
  margin-top: -27rem;
  margin-left:40rem;
}
.container-3 {
  display: none;
  flex-wrap: nowrap;
  width: 100%;
  margin-left: 100px;
}
.btn {
  border-radius: 0.5rem;
  padding: 1.2rem;
  margin: 10px;
}
.btn__hero {
  border: 1px solid #5b8856;
  color: #ffffff;
  font-size: 1.8rem;
  box-shadow: 1px 10px 30px -10px #5b8856;

  display: inline-block;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn__hero:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5b8856;
  z-index: -2;
}

.btn__hero:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #ffffff;
  transition: all 0.3s;
  z-index: -1;
}

.btn__hero:hover {
  color: #146c94;
}

.btn__hero:hover:before {
  width: 100%;
}
.button {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin: 10px;
}
.container-1 p {
  color: black;
  font-size: 20px;
  margin-top: 25px;
  text-align: center;
  margin-bottom: 50px;
}
.play {
  color: #5b8856;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -150%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .container-2 img {
    margin-top: -4rem;
    justify-content: center;
    align-items: center;
  }

  .container-1 {
    z-index: +1;
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-link {
    background-color: white;
  }

  .nav-item {
    margin: 2.5rem 0;
    background-color: white;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
@media only screen and (max-width: 1150px) {
  .container-2 img {
    margin-right: -10rem;
  }
}
