<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Waste game</title>
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <a href="#" class="nav-logo"
          ><img src="/static/image/recycle.png" alt=""
        /></a>
        <ul class="nav-menu">
          <li class="nav-item">
            <a href="/templates/classify.html" class="nav-link">Play</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Learn</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">About us</a>
          </li>
          <button id="toggleButton">toggle</button>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>

    <!-- <section class="page">
      <div class="page-content">
        <img class="home" src="../static/image/jump_girl.jpeg" />
      </div>
      <div class="content">
        We're determined to
        <span class="color"> go above and above for your health</span> as a
        <br />unified team who is committed to your satisfaction
      </div>
    </section> -->

    <section id="features" class="container">
      <div class="container-1">
        <h2>Sort the WASTE</h2>
        <p>
          We determined that your child learn to classify between BAD and GOOD
        </p>
        <p class="play">Let's Start the game</p>
        <div class="button">
          <a href="/templates/classify.html" class="btn btn__hero use">Play </a>
        </div>
      </div>
      <div class="container-2">
        <img id="image" src="/static/image/black.png" alt="" />
      </div>
      <div class="container-3">
        <a href="#" class="btn btn__hero use">Upload </a>
        <a href="{{url_for('video_feed')}}" class="btn btn__hero use"
          >Go live</a
        >
      </div>
    </section>

    <script src="/static/javascript/javascript.js"></script>
  </body>
</html>
