<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Waste game</title>
  </head>
  <body>
    <section class="nav">
      <div class="hero_image">
        <img class="garbage" src="../static/image/garbage.png" />
        <h5>Play</h5>
        <h5>About</h5>
        <h5>Learn</h5>
      </div>
      <div class="page-content">
        <img class="home" src="../static/image/jump_girl.jpeg" />
      </div>
    </section>
  </body>
</html>
